# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage
/playwright-report
/test-results

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
